<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
    <title>Memos</title>

    <!-- 'viewport' is used by bootstrap to respond to device size -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Javascript:  JQuery from a content distribution network (CDN) -->
    <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>

    <!-- Bootstrap includes javascript and css  (must follow jquery) -->
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
    </script>

    <!-- Our own style sheet -->
    <link rel="stylesheet" href="/static/css/memos.css" />

    <script type="text/javascript" src="/static/js/moment.js">
    </script>

</head>
<body>
    <div class="container-fluid" style="height: 100%;">
        {% if g.memos %}
            <button type="button" id="delete_button" class="btn btn-outline-primary">Delete Selected Memos</button>
        {% for memo in g.memos %}
            <div class="memo">
            <div class="row">
                <div class="col-md-2">
                    <div class="card" style="width: 25rem">
                        <p class="date" class="card-top">
                            {{ memo.date|humanize }}
                            <span class="input-group-addon">
                                <input name="remove_memo" type="checkbox" aria-label="..." value="{{ memo.date }}">
                            </span>
                        </p>
                        <div class="card-block">
                            <p class="card-text">{{ memo.text }}</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        {% endfor %}
        {% else %}
            <div class="empty">
                <p>You've got no memos yet. Create one now.</p>
            </div>
        {% endif%}


        <form role="form" id="entry">
            <input type=date name="entry_date" id="entry_date" value=""/>
                <textarea id="entry_text" placeholder="write a new memo" maxlength="20000"></textarea>
            <input type="submit" value="Create and Save">
        </form>

    </div>

    <script type="text/javascript">
        $('#entry_date').val(getCurrentDate()); //initialize date to today.
        let SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        let CREATE_MEMO_URL = SCRIPT_ROOT + "/create";
        let REMOVE_MEMO_URL = SCRIPT_ROOT + "/remove";

        $("#entry").submit(function (event) {
            event.preventDefault();
            let txt = $("#entry_text").val();   //grab memo message
            let date = getCurrentTime();        //grab date entered
            if (txt === "" || date === "") {    //if no memo message or date
                displayStatus("Missing text or invalid date.");
                return;
            }
            $.ajax({
                url: CREATE_MEMO_URL,
                data: { text: txt,
                        date: date},
                success: function () {
                    window.location.reload(true);   //clear cache then refresh page
                }
            });
        });

        let checked_set = new Set([]) ;             //initialize empty set

        //Records memos that have been checked, un-records memos that have been unchecked
        $(".memo :checkbox").change(
            function () {
                if (this.checked) {
                    checked_set.add($(this).val()); //add a checked memo to checked_set
                } else {
                    checked_set.delete($(this).val());  //remove an unchecked memo from checked_set
                }
        });

        //Send the set of checked memos to Flask, so they can be deleted from database.
        $("#delete_button").click(function (event) {
            event.preventDefault();
            let set_to_list = [];                   //convert set to list so it's jsonify-able
            for (let it = checked_set.values(), val = null; val = it.next().value;){
                set_to_list.push(val);
            }
            $.ajax({
            url: REMOVE_MEMO_URL,
            data: { dates: JSON.stringify(set_to_list)},
            success: function () {
                window.location.reload(true);       //clear cache then refresh page
            }
            });
        });
        function displayStatus(msg) {
            alert(msg);
        }
        function getCurrentDate() {
            return moment(new Date()).format("YYYY-MM-DD");
        }
        function getCurrentTime() {
            let entry_date = $("#entry_date").val();
            if (moment(entry_date, "YYYY/MM/DD", true)) {
                let date_list = entry_date.split('-').map(Number);
                let t = new Date();
                t.setFullYear(date_list[0], date_list[1]-1, date_list[2]);
                return t.toISOString()
            } else {
                displayStatus("Invalid date format.")
            }
        }
    </script>
</body>
</html>